<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pf.system.dao.SysDictInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pf.system.model.entity.SysDictInfo">
        <id column="dict_id" property="dictId" />
        <result column="app_id" property="appId" />
        <result column="dict_field" property="dictField" />
        <result column="dict_name" property="dictName" />
        <result column="dict_key" property="dictKey" />
        <result column="dict_value" property="dictValue" />
        <result column="dict_sort_no" property="dictSortNo" />
        <result column="dict_use_state" property="dictUseState" />
        <result column="dict_int_user" property="dictIntUser" />
        <result column="dict_int_date" property="dictIntDate" />
        <result column="dict_upd_user" property="dictUpdUser" />
        <result column="dict_upd_date" property="dictUpdDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        dict_id, app_id, dict_field, dict_name, dict_key, dict_value, dict_sort_no, dict_use_state, dict_int_user, dict_int_date, dict_upd_user, dict_upd_date
    </sql>

</mapper>
